/node_modules
/vendor
.env
.env.backup
npm-debug.log
yarn-error.log

#editors
/*.code-workspace
/.idea

#proyect
.DS_Store
error_log
/public/.user.ini
/public/php.ini
/public/.htaccess
/public/robots.txt
/public/error_log
/public/.ftpquota
