.footer{
  .footer--section{
    background-color: $primary;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .navbar--footer{
    list-style-type: none;
    margin-bottom: 0;
    li{
      color: rgba($white,.5);
      a{
        margin: 0 .75rem;
        text-decoration: none;
        color: rgba($white,.5);
        font-style: italic;
        font-size: calc( $font-size-base * .9 );
      }
    }
  }

  ul.social-media{
    list-style-type: none;
    margin-bottom: 0;
    li{
      @include hk_d-iblock();
    }
  }
}